<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <meta property="og:image" content="https://avatars1.githubusercontent.com/u/5763024"/>
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta property="og:image:type" content="image/jpg">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">
{% include isso-comments.html %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9422099730168852",
          enable_page_level_ads: true
     });
</script>
<script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.0/axios.min.js"></script>
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
                    <li class="active visible-xs-block"><a href="{{ site.baseurl }}/links.html">Links</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/archive.html">Archive</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/about.html">About</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
                    {% if site.gitlab != '' %}
                      <li class="active"><a href="https://gitlab.com/{{ site.gitlab }}">Gitlab</a></li>
                    {% endif %}
                    {% if site.github != '' %}
                      <li class="active"><a href="https://github.com/{{ site.github }}">Github</a></li>
                    {% endif %}
                </ul>
              </div>
        </div>
    </div>
</div>
